body{
    background-color: rgb(0, 0, 0);
    background-image: url(images/drumKit.png);
    background-repeat: no-repeat;
    overflow-x:hidden;
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}
.heading {
    display: flex;
   margin-left: 3.5%;
   font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    color: #fff; 
   
}

.key {
    width: 10%;
    text-align: center;
    background: rgba(2, 1, 9, 0.185);
    color: #fff;
    position: relative;
    border-radius:60px;
    transition: all 0.3s;
    border: 2px transparent rgb(197, 193, 193);
    margin: 1%;
    text-transform:uppercase;
  letter-spacing:.75px;
  font-size:0.75rem;
  
}
.keys {
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    
    
}
#kick{
margin: 1%;

}
#snare{
margin: 1%;
    
}
#ride{
margin: 1%;
        
}
#crash{
margin: 1%;

}
#closedHiHat{
margin: 1%;
    
}
#openHiHat{
margin: 1%;
            
}
#tomTom{
margin: 1%;
        
}
#floorTom{
margin: 1%;
                
}       

.playing {
    transform:scale(1.1);
    border-color:  #575758;
    box-shadow: 0 0 5px #575758;
    color:#575758;
  }
